<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/form.css}">
    <link rel="stylesheet" th:href="@{/resources/css/modal.css}">
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}">
</head>
<body>
<div th:replace="/user/userHeader.html :: header"></div>
<div class="form-container1">
    <table>
        <tr>
            <th></th>
            <th th:text="#{pet.name}"></th>
            <th th:text="#{pet.kind}"></th>
            <th th:text="#{services}"></th>
            <th th:text="#{form.condition}"></th>
            <th></th>
        </tr>
        <tr th:each="form, iterStat : ${userForms}">
            <td class="btn" th:text="${iterStat.count}"></td>
            <td th:text="${form.pet.name}"></td>
            <td th:text="${form.pet.kind}"></td>
            <td>
                <div th:each="service, iterStat : ${form.services}">
                    <div th:text="${service.name}"></div>
                </div>
            </td>
            <td th:text="${form.condition}"></td>
            <form th:method="get" th:action="@{/user/deleteForm/{id}(id=${form.id})}">
                <td class="btn">
                    <input type="submit" class="ghost" name="submit" th:value="#{delete}">
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>