<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/form.css}">
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}">
</head>
<body>
<div th:replace="/user/userHeader.html :: header"></div>
<div class="form-container1">
    <form th:method="post" th:action="@{/addForm}"
          enctype="application/x-www-form-urlencoded" th:object="${form}">

        <select id="petId" name="petId" th:value="*{pet.id}" required>
            <option th:value="${pet.id}" th:text="${pet.name}" th:each="pet : ${userPets}"></option>
        </select>

        <table>
            <tr>
                <th></th>
                <th th:text="#{services.name}"></th>
                <th th:text="#{services.duration}"></th>
                <th th:text="#{services.price}"></th>
            </tr>

            <tr th:each="service : ${services}">
              <td> <input type="checkbox" name="serviceId" th:value="${service.id}" ></td>
                <td th:text="${service.name}"></td>
                <td th:text="${service.duration}"></td>
                <td th:text="${service.price}"></td>
            </tr>

        </table>
        <input type="submit" class="ghost" th:value="#{order}">
    </form>
</div>
</body>
</html>