<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/form.css}">
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}">
</head>
<body>
<div th:replace="/header.html :: header"></div>
<form th:action="@{/home}" th:method="get">
    <div class="text-end">
        <button type="submit" th:text="#{return}" class="btn btn-outline-light me-2">Log out</button>
    </div>
</form>
<form th:action="@{/logout}" th:method="post">
    <div class="text-end">
        <button type="submit" th:text="#{logout}" class="btn btn-outline-light me-2">Log out</button>
    </div>
</form>
</body>
</html>