.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: rgba(229, 162, 215, 100);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: rgba(229, 162, 215, 100);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.my-custom-class {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(229, 162, 215, 100);
    color: #fff;
    max-width: 1320px;
    width: 100%;
    height: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    align-content: space-between;
    justify-content: center;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

header {
    height: 100px;
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

ul {
    /*flex: 0 0 auto;*/
    /*width: 100%;*/
    /*justify-content:center!important;*/

    display: flex;
    flex-direction: row !important;
    justify-content: right;
    flex-wrap: wrap;
    padding-right: 0;
    list-style: none;
    margin-right: 5%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

li {
    display: flex;
    flex-flow: column wrap;

}

.icon {
    margin-left: 20px;
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none
    }
}

.nav-link:focus, .nav-link:hover {
    color: #070707
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

a.nav-link.text-white {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}


