.form-container1 form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container1 input, select {
    background: #eee;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 5px;
    width: 80%;
}


.form-container1 {
    margin-bottom: 20px;
}

select.input {
    background: #eee;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 5px;
    width: 80%;
}

input[type="date"]{
    width: 150px;

}

input[type="time"] {
    width: 80px;
}

table {
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    color: #656665;
    border-radius: 10px;
}

th {
    padding: 5px;
}

td {
    border-radius: 10px;
    background: #F5D7BF;
}

td.btn {
    width: 80px;
    background: none;
}

td.name {
    width: 300px;
}

a.pages {
    flex-direction: row;
}